.Rproj.user
.Rhistory
.RData
.Ruserdata

scratch_pad.R

/**/archive/

output/*.tiff

/literature

Ranney_et_al_stomach_contents_Wr - JS.docx
Ranney_et_al_stomach_contents_Wr - JS AVZ edit.docx
manuscript/Ranney_et_al_stomach_contents_Wr_Al_and_John_recent_edits_2018_05_30.docx
